<div id="container">

    <div id="leftContainer">
        <div id="questionWindow">
            <div id="questionText"></div>
        </div>
        <div id="buttonsContainer">
            <button id="btnA" class="btnAnswer">A</button>
            <button id="btnB" class="btnAnswer">B</button>
            <button id="btnC" class="btnAnswer">C</button>
            <button id="btnD" class="btnAnswer">D</button>
            <button id="btnResign" class="btnAnswer">Zrezygnuj</button>
        </div>
    </div>

    <div id="rightContainer">
        <div id="lifelines">
            <div id="phone" class="lifeline">
                <div id="btnPhone" class="buttonLifeline"></div>
            </div>
            <div id="audience" class="lifeline">
                <div id="btnAudience" class="buttonLifeline"></div>
            </div>
            <div id="fiftyFifty" class="lifeline">
                <div id="btnFiftyFifty" class="buttonLifeline"></div>
            </div>
        </div>

        <div id="prizeTable">
            <div id="rowPrize10" class="row orangeFont">
                <div id="numberQuestion10" class="numberQuestion">10</div>
                <div id="point10" class="point"></div>
                <div id="questionPrice10" class="questionPrice">1000000</div>
            </div>

            <div id="rowPrize9" class="row orangeFont">
                <div id="numberQuestion9" class="numberQuestion">9</div>
                <div id="point9" class="point"></div>
                <div id="questionPrice9" class="questionPrice">500000</div>
            </div>

            <div id="rowPrize8" class="row orangeFont">
                <div id="numberQuestion8" class="numberQuestion">8</div>
                <div id="point8" class="point"></div>
                <div id="questionPrice8" class="questionPrice">250000</div>
            </div>

            <div id="rowPrize7" class="row orangeFont">
                <div id="numberQuestion7" class="numberQuestion">7</div>
                <div id="point7" class="point"></div>
                <div id="questionPrice7" class="questionPrice">150000</div>
            </div>

            <div id="rowPrize6" class="row orangeFont">
                <div id="numberQuestion6" class="numberQuestion">6</div>
                <div id="point6" class="point"></div>
                <div id="questionPrice6" class="questionPrice">75000</div>
            </div>

            <div id="rowPrize5" class="row whiteFont">
                <div id="numberQuestion5" class="numberQuestion">5</div>
                <div id="point5" class="point"></div>
                <div id="questionPrice5" class="questionPrice">40000</div>
            </div>

            <div id="rowPrize4" class="row orangeFont">
                <div id="numberQuestion4" class="numberQuestion">4</div>
                <div id="point4" class="point"></div>
                <div id="questionPrice4" class="questionPrice">10000</div>
            </div>

            <div id="rowPrize3" class="row orangeFont">
                <div id="numberQuestion3" class="numberQuestion">3</div>
                <div id="point3" class="point"></div>
                <div id="questionPrice3" class="questionPrice">5000</div>
            </div>

            <div id="rowPrize2" class="row whiteFont">
                <div id="numberQuestion2" class="numberQuestion">2</div>
                <div id="point2" class="point"></div>
                <div id="questionPrice2" class="questionPrice">2000</div>
            </div>

            <div id="rowPrize1" class="row orangeFont">
                <div id="numberQuestion1" class="numberQuestion">1</div>
                <div id="point1" class="point"></div>
                <div id="questionPrice1" class="questionPrice">500</div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/balance.js"></script>
<script src="~/js/buttons.js"></script>
<script src="~/js/randomNumberGenerator.js"></script>
<script src="~/js/lifelines.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/listener.js"></script>
<script src="~/js/userDecision.js"></script>