<div id="container">

    <div id="leftContainer">
        <div id="questionWindow"> </div>
        <div id="buttonsContainer">
            <button id="btnA" class="btnAnswer">A</button>
            <button id="btnB" class="btnAnswer">B</button>
            <button id="btnC" class="btnAnswer">C</button>
            <button id="btnD" class="btnAnswer">D</button>
            <button id="btnResign" class="btnAnswer">Resign</button>
        </div>
    </div>

    <div id="rightContainer">
        <div id="lifelines">
            <div id="phone" class="lifeline">
                <button id="btnPhone" class="buttonLifeline">Phone</button>
            </div>
            <div id="audience" class="lifeline">
                <button id="btnAudience" class="buttonLifeline">Audience</button>
            </div>
            <div id="fiftyFifty" class="lifeline">
                <button id="btnFiftyFifty" class="buttonLifeline">50/50</button>
            </div>
        </div>
        <div id="prizeTable"></div>
    </div>
</div>