<div id="container">

    <div id="leftContainer">
        <div id="questionWindow">
            <div id="questionText"></div>
        </div>
        <div id="buttonsContainer">
            <button id="btnA" class="btnAnswer">A</button>
            <button id="btnB" class="btnAnswer">B</button>
            <button id="btnC" class="btnAnswer">C</button>
            <button id="btnD" class="btnAnswer">D</button>
            <button id="btnResign" class="btnAnswer">Resign</button>
        </div>
    </div>

    <div id="rightContainer">
        <div id="lifelines">
            <div id="phone" class="lifeline">
                <div id="btnPhone" class="buttonLifeline"></div>
            </div>
            <div id="audience" class="lifeline">
                <div id="btnAudience" class="buttonLifeline"></div>
            </div>
            <div id="fiftyFifty" class="lifeline">
                <div id="btnFiftyFifty" class="buttonLifeline"></div>
            </div>
        </div>

        <div id="prizeTable" class="rowDimensions">
            <div id="row1mln" class="row">
                <div id="numberQuestion10">10</div>
                <div id="point10" class="point">
                </div><div id="question10Price">1000000</div>
            </div>

            <div id="row500thousands" class="row">
                <div id="numberQuestion9">9</div>
                <div id="point9" class="point"></div>
                <div id="question9Price">500000</div>
            </div>

            <div id="row250thousands" class="row">
                <div id="numberQuestion8">8</div>
                <div id="point8" class="point"></div>
                <div id="question8Price">250000</div>
            </div>

            <div id="row150thousands" class="row">
                <div id="numberQuestion7">7</div>
                <div id="point7" class="point"></div>
                <div id="question7Price">150000</div>
            </div>

            <div id="row75thousands" class="row">
                <div id="numberQuestion6">6</div>
                <div id="point6" class="point"></div>
                <div id="question6Price">75000</div>
            </div>

            <div id="row40thousands" class="row">
                <div id="numberQuestion5">5</div>
                <div id="point5" class="point"></div>
                <div id="question5Price">40000</div>
            </div>

            <div id="row10thousands" class="row">
                <div id="numberQuestion4">4</div>
                <div id="point4" class="point"></div>
                <div id="question4Price">10000</div>
            </div>

            <div id="row5thousands" class="row">
                <div id="numberQuestion3">3</div>
                <div id="point3" class="point"></div>
                <div id="question3Price">5000</div>
            </div>

            <div id="row2thousands" class="row">
                <div id="numberQuestion2">2</div>
                <div id="point2" class="point"></div>
                <div id="question2Price">2000</div>
            </div>

            <div id="row5hunreds" class="row">
                <div id="numberQuestion1">1</div>
                <div id="point1" class="point"></div>
                <div id="question1Price">500</div>
            </div>
        </div>
    </div>
</div>
