<div id="container">

    <div id="leftContainer">
        <div id="questionWindow"></div>
        <div id="buttonsContainer">
            <button id="btnA" class="btnAnswer">A</button>
            <button id="btnB" class="btnAnswer">B</button>
            <button id="btnC" class="btnAnswer">C</button>
            <button id="btnD" class="btnAnswer">D</button>
            <button id="btnResign" class="btnAnswer">Resign</button>
        </div>
    </div>

    <div id="rightContainer">
        <div id="lifelines">
            <div id="phone" class="lifeline">
                <div id="btnPhone" class="buttonLifeline"></div>
            </div>
            <div id="audience" class="lifeline">
                <div id="btnAudience" class="buttonLifeline"></div>
            </div>
            <div id="fiftyFifty" class="lifeline">
                <div id="btnFiftyFifty" class="buttonLifeline"></div>
            </div>
        </div>
        <div id="prizeTable"></div>
    </div>
</div>