<div id="scoreContainer">
    <div id="scoreContainerLeft">
        <div id="scoreTitle" class="title">TABELA WYNIKÓW</div>
        <div id="scoreResult">
            <div id="scoreNameRow"></div>
            <div id="scoreResultRow"></div>
            <div id="scoreDateRow"></div>
        </div>
    </div>
    <div id="scoreContainerRight">
        <div id="navigatorTitle" class="title">NAWIGATOR TABELI</div>

        <div id="navigatorPageContainer" class="navigatorContainer">
            <div id="currentPageText" class="navigatorText">Aktualna strona:</div>
            <div id="pageNumberDecrement" class="leftArrow navigator50"></div>
            <div id="pageCurrentNumber" class="navigator50">1</div>
            <div id="pageNumberIncrement" class="rightArrow navigator50"></div>
        </div>

        <div id="navigatorCountContainer" class="navigatorContainer">
            <div id="resultCounterText" class="navigatorText">Zapisanych wyników:</div>
            <div id="resultCounter" class="navigatorResult"></div>
        </div>

        <div id="navigatorScopeContainer" class="navigatorContainer">
            <div id="currentScopeText" class="navigatorText">Przeglądany zakres:</div>
            <div id="currentScope" class="navigatorResult"></div>
        </div>

        <div id="navigatorPagesContainer" class="navigatorContainer">
            <div id="pageCounterText" class="navigatorText">Dostępnych stron:</div>
            <div id="pageCounter" class="navigatorResult"></div>
        </div>

        <div id="navigatorPageSizeContainer" class="navigatorContainer">
            <label id="pageSizeText" class="navigatorText">Wyników na stronie:</label>
            <div id="pageSize5" class="navigator50">5</div>
            <div id="pageSize10" class="currentPage navigator50">10</div>
            <div id="pageSize25" class="navigator50">25</div>
            <div id="pageSize50" class="navigator50">50</div>
        </div>
    </div>
</div>
<script src="~/js/scores.js"></script>