@page
@model Milionaires.Views.Home.ScoresModel
@{
}
<div id="scoresContainer">
    <div id=scoresTable>
        <div id="scoresTableTitle">Najlepsze wyniki</div>
        <div id="scoreTableRows">
            <div id="ScoreRow1" class="scoreRow">
                <div id="numberScore1" class="numberScore">1</div><div id="score1" class="score">3000</div><div id="name1" class="name">Kreska</div>
            </div>
            <div id="ScoreRow2" class="scoreRow">
                <div id="numberScore2" class="numberScore">2</div><div id="score2" class="score">2000</div><div id="name2" class="name">Kropka</div>
            </div>
            <div id="ScoreRow3" class="scoreRow">
                <div id="numberScore3" class="numberScore">3</div><div id="score3" class="score">1000</div><div id="name3" class="name">Tola</div>
            </div>
        </div>
    </div>
</div>